<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E7CBDF5279CA16000C586C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7CBE05279CA37B00C586C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E7CBE0C279CA37B00C586C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975F3227C82DBF00D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975F3927C82DBF00D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975F5E27CA685F00D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975F7127CAD04C00D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975F7827CAD04C00D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975FB627CBE80200D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E975FBD27CBE80200D97675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
